@font-face {
    font-family: "Helvetica LtCn";
    src: url(../fonts/HelveticaNeueLTStd-LtCn.otf);
}


@font-face {
    font-family: "Helvetica BdCn";
    src: url(../fonts/HelveticaNeueLTStd-BdCn.otf);
}

@font-face {
    font-family: "Helvetica BlkCn";
    src: url(../fonts/HelveticaNeueLTStd-BlkCn.otf);
}

@font-face {
    font-family: "Helvetica MdCn";
    src: url(../fonts/HelveticaNeueLTStd-MdCn.otf);
}

@font-face {
    font-family: "openSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
